.button {
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.primary {
    background-color: #3498db;
}

.delete {
    background-color: #e74c3c;
}

.disabled {
    background-color: rgb(173, 173, 173);
    color: black;
}