.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 400px;
    border: 1px solid black;
    padding: 1rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.error {
    color: #e74c3c;
    font-size: 0.7rem;
}
